<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2013 Aljoschability and others. All rights reserved.

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License v1.0 which accompanies this distribution,
	and is available at http://www.eclipse.org/legal/epl-v10.html

	Contributors:
		Aljoscha Hark <mail@aljoschability.com> - initial API and implementation
-->
<plugin>
	<extension-point id="scraper" name="Meta Data Scraper" schema="schema/scraper.exsd"/>
	<extension-point id="fields" name="File Field" schema="schema/fields.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="http://www.aljoschability.com/vilima/2014"
			class="com.aljoschability.vilima.VilimaPackage"
			genModel="model/vilima.xcore"/>
	</extension>

	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.aljoschability.vilima.emf.MkResourceFactory"
			type="mk3d"/>
		<parser
			class="com.aljoschability.vilima.emf.MkResourceFactory"
			type="mka"/>
		<parser
			class="com.aljoschability.vilima.emf.MkResourceFactory"
			type="mkv"/>
		<parser
			class="com.aljoschability.vilima.emf.MkResourceFactory"
			type="mks"/>
	</extension>

</plugin>
