<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vilima -->
      <package
            uri="http://www.aljoschability.com/vilima/2014"
            class="com.aljoschability.vilima.VilimaPackage"
            genModel="model/vilima.xcore"/>
   </extension>

</plugin>
