<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="column" name="File Table Column" schema="schema/column.exsd"/>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.aljoschability.vilima.ui.preferences.VilimaPreferenceInitializer"/>
	</extension>

	<!-- file columns -->
	<extension point="com.aljoschability.vilima.ui.column">
		<category
			icon="icons/entypo/drive.png"
			id="com.aljoschability.vilima.ui.column.category.file"
			title="File"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FilePathColumn"
			id="file.path"
			title="Path"
			width="30"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileFullpathColumn"
			id="file.fullpath"
			title="Full Path"
			width="30"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileDirectoryColumn"
			id="file.directory"
			title="Directory"
			width="30"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileNameColumn"
			id="file.name"
			title="File Name"
			width="240"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileSizeColumn"
			id="file.size"
			title="File Size"
			width="80"
			alignment="TRAIL"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileSizeBytesColumn"
			id="file.size/bytes"
			title="File Size (Bytes)"
			width="80"
			alignment="TRAIL"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileDateCreatedColumn"
			id="file.dateCreated"
			title="Created"
			width="108"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.file"
			provider="com.aljoschability.vilima.ui.columns.FileDateModifiedColumn"
			id="file.dateModified"
			title="Modified"
			width="108"/>
	</extension>

	<!-- segment columns -->
	<extension point="com.aljoschability.vilima.ui.column">
		<category
			icon="icons/entypo/info.png"
			id="com.aljoschability.vilima.ui.column.category.segment"
			title="Segment"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentTitleColumn"
			id="segment.title"
			title="Segment Title"
			width="160"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentDateColumn"
			id="segment.date"
			title="Segment Date"
			width="108"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentDurationColumn"
			id="segment.duration"
			title="Duration"
			width="61"
			alignment="TRAIL"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentDurationSecondsColumn"
			id="segment.duration/seconds"
			title="Duration (Seconds)"
			width="61"
			alignment="TRAIL"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentDurationMinutesColumn"
			id="segment.duration/minutes"
			title="Duration (Minutes)"
			width="61"
			alignment="TRAIL"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentUidColumn"
			id="segment.uid"
			title="Segment UID"
			width="265"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentPreviousUidColumn"
			id="segment.previousUid"
			title="Segment Previous UID"
			width="265"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentNextUidColumn"
			id="segment.nextUid"
			title="Segment Next UID"
			width="265"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentMuxingAppColumn"
			id="segment.muxingApp"
			title="Segment Muxing App"
			width="30"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.segment"
			provider="com.aljoschability.vilima.ui.columns.SegmentWritingAppColumn"
			id="segment.writingApp"
			title="Segment Writing App"
			width="30"/>
	</extension>

	<!-- tags columns -->
	<extension point="com.aljoschability.vilima.ui.column">
		<category
			icon="icons/entypo/bookmarks.png"
			id="com.aljoschability.vilima.ui.column.category.tags"
			title="Tags"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.tags"
			provider="com.aljoschability.vilima.ui.columns.TagsContentTypeColumn"
			id="tags/content_type"
			title="Content Type"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.tags"
			provider="com.aljoschability.vilima.ui.columns.TagsMovieCollectionColumn"
			id="tags/movie/collection"
			title="Movie: Collection"/>
	</extension>

	<!-- track columns -->
	<extension point="com.aljoschability.vilima.ui.column">
		<category
			icon="icons/entypo/flow-tree.png"
			id="com.aljoschability.vilima.ui.column.category.tracks"
			title="Tracks"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.tracks"
			provider="com.aljoschability.vilima.ui.columns.TrackCodecsColumn"
			id="track.codecs"
			title="Codecs"/>
		<column
			category="com.aljoschability.vilima.ui.column.category.tracks"
			provider="com.aljoschability.vilima.ui.columns.TrackVideoCodecsColumn"
			id="track.videoCodecs"
			title="Video Codecs"/>
		<column
			id="track.videoResolution"
			title="Track: Horizontal Resolution"
			category="com.aljoschability.vilima.ui.column.category.tracks"
			provider="com.aljoschability.vilima.ui.columns.TrackVideoResolutionColumn"/>
	</extension>

	<!-- attachment columns -->
	<extension point="com.aljoschability.vilima.ui.column">
		<category
			icon="icons/entypo/attachment.png"
			id="com.aljoschability.vilima.ui.column.category.attachment"
			title="Attachments"/>
		<column
			id="attachment.cover"
			title="Cover Art"
			category="com.aljoschability.vilima.ui.column.category.attachment"
			provider="com.aljoschability.vilima.ui.columns.AttachmentCoverColumn"/>
   </extension>

</plugin>
